.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 576px) {
      .container {
        max-width: 540px; } }
    @media (min-width: 768px) {
      .container {
        max-width: 720px; } }
    @media (min-width: 992px) {
      .container {
        max-width: 960px; } }
    @media (min-width: 1200px) {
      .container {
        max-width: 1040px; } }
  
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
 
    .mt-4,
    .my-4 {
      margin-top: 1.5rem !important; }
    .mb-4,
    .my-4 {
      margin-bottom: 1.5rem !important; }
      .mb-5,
      .my-5 {
        margin-bottom: 3rem !important; }
        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {
          margin-bottom: 0.5rem;
          font-family: inherit;
          font-weight: 600;
          line-height: 1.3;
          color: inherit; }
        
        h1, .h1 {
          font-size: 2.5rem; }
        
       h2, .h2 {
          font-size: 2rem; }


    